#start-screen, #waiting-screen {
	width: 100vw;
	height: 100vh;
	background-color: rgb(118, 129, 129);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

#name-form {
	display: flex;
	flex-flow: column;
	gap: 0.5rem;
}

#name-form label {
	font-size: 1.5rem;
}

.hide {
	display: none !important;
}

#game-screen {
	background-color: rgb(118, 129, 129);
	height: 100vh;
}


.black-border {
	border: 5px solid black
}